[run]
branch = True
source = 
	*/views.py
	*/models.py
	*/signals.py
	*/urls.py
	*/apps.py
omit =
	database/migrations/*
	capsoul/*
	*/admin.py
	*/apps.py
	*/tests.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
	database/migrations/*
	capsoul/*
	*/admin.py
	*/apps.py
	*/tests.py