[run]
branch = True
include = 
	*/tests.py
	*/views.py
	*/models.py
	*/signals.py
	*/urls.py
	*/apps.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    from
    import
ignore_errors = True
omit =
	database/migrations/*
	capsoul/*
	*/admin.py
	*/apps.py
	*/tests.py
	*/settings.py
	*/urls.py