[run]
branch = True
source =
	capsoul
	capsules
	database
	login
	users
omit = database/migrations/*

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*